#blog{
	margin: 30px 5vw;
}
h1{
	text-align: center;
}
.time{
	float: right;
	margin-right: 20vw;
	color: #66FF66;
	margin-top: 0.5em;
}
.time-post{
	margin-left: 0.5em;
}
.time-modified{
	margin-left: 2em;
}
.author-coll{
	margin-top: 2.5em;
	float: left;
	margin-left: 20vw;
	color: #66FF66;
	text-align: right;
}
.content{
	margin: 50px 2vw auto 2vw;
	color: #66FF66;
}
.href{
	box-align: center;
	margin: 50px 20%;
	width: 60%;
}
.href-url{
	width: 85%;
	margin-left: 5%;
	height: 1.8em;
	padding-left: 0.2em;
        color: rgba(15,15,15,0.75);
        user-select: none;
}
.href-url:hover{
        color: #0F0F0F;
}
.href-button{
	width: 8%;
	height: 1.5em;
	background: #3CB371;
	color: #FFFFFF;
	font-weight: bold;
	border: none;
}
#home{
	padding: 50px 2vw;
}
.archive{
	display: inline-block;
	width: 62vw;
	margin-top: 30px;
}
.archive-article{
	margin-top: 20px;
	margin-left: 2vw;
	background: #1F1F1F;
	min-height: 7em;
	padding: 0.5em;
}
.post-category{
	background: #3CB371;
	border-radius: 1em;
	padding: 2px;
	margin-right: 0.1em;
}
.archive-article > a > h2{
	display: inline-block;
}
.post-time{
	text-align: right;
	color: #66FF66;
}
.post-excerpt{
	margin: 0.5em 1em;
	background: rgba(255,255,255,0.1);
	padding: 0.3em;
	color: #66FF66;
	font-size: 1em;
}
.post-author{
	color: #66FF66;
	margin-left: 1em;
}
.sidebar{
	float: right;
	display: inline-block;
	margin-right: 4vw;
	width: 21vw;
	margin-top: 30px;
}
.user-card{
	background: #3CB371;
	border: #66FF66 2px solid;
	color: #EEEEFF;
}
.sidebar-avatar{
	margin: 2vw 4vw 1vw 4vw;
	width: 13vw;
	box-shadow: rgba(100,100,100,0.2) 0px 0px 3px 5px;
	border: 1px solid rgb(100,100,100);
}
.sidebar-name{
	text-align: center;
	color: #EEEEFF;
	margin-bottom: 8px;
}
.sidebar-info{
	text-align: center;
	margin-bottom: 8px;
}
.sidebar-info > span{
	margin-right: 3px;
	margin-left: 3px;
}
.notice{
	background: #3CB371;
	border: #66FF66 2px solid;
	color: #EEEEFF;
	padding: 2px 1em;
}
.notice > h2{
	color: #EEEEFF;
	margin-left: 0.25vw;
}
.notice > hr{
	height: 3px;
	background-color: #66FF66;
}
h2{
	font-size: 2em;
	border-bottom: 2px #3CB371 solid;
	font-weight: 300;
	margin-bottom: 5px;
}
h2::before{
	content: "#";
	margin-right: 0.3em;
	color: rgba(102,255,102,0.75);
}
h3{
	font-size: 1.8em;
	font-weight: 300;
	margin-bottom: 4px;
	border-bottom: 1px #2E8B71 solid;
}
h3::before{
	content: "##";
	margin-right: 0.3em;
	color: rgba(102,255,102,0.75);
}
h4{
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 3px;
}
h5{
	font-size: 1.3em;
	font-weight: 500;
	margin-bottom: 2px;
}
h6{
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 1px;
}
pre{
	tab-width: 4;
	font-family: "microsoft yahei";
	font-size: 0.9375em;
	line-height: 1.75em;
	border-radius: 1em;
	width: 70%;
	margin: 1em 15%;
	padding: 1em 2em;
	border-top: 2px #2E8B71 solid;
	border-bottom: 2px #2E8B71 solid;
	border-left: 1em solid #000000;
	border-right: 1em solid #000000;
	overflow-x: auto;
	background: #1F1F1F;
}
blockquote{
	background: #6F6F6F;
	margin: 10px auto 10px 5vw; 
	border-left: 0.5vw rgba(240,240,240,0.75) solid;
	padding: 2px 1em;
}
code{
	border: 1px #2E8B71 solid;
	background: #1F1F1F;
	padding: 3px;
	border-radius: 0.3em;
	font-family: "lucida console";
}
pre > code{
	border: none;
	background: inherit;
	padding: 0;
	border-radius: 0;
}
ul > ul{
	margin-left: 2em;
}
ul > ul > ul{
	margin-left: 2em;
}
.content > img{
	border: 2px solid #EEEEFF;
	border-bottom-width: 5px;
	background: #EEEEFF;
	box-shadow: 1px 1px 1px 1px rgba(100,100,100,0.75);
}
