#blog{
	margin: 30px 5vw;
}
h1{
	text-align: center;
}
.time{
	float: right;
	margin-right: 20vw;
	color: #66FF66;
	margin-top: 0.5em;
}
.time-post{
	margin-left: 0.5em;
}
.time-modified{
	margin-left: 2em;
}
.author-coll{
	margin-top: 2.5em;
	float: left;
	margin-left: 20vw;
	color: #66FF66;
	text-align: right;
}
.content{
	margin: 50px 2vw auto 2vw;
	color: #66FF66;
}
.href{
	box-align: center;
	margin: 50px 20%;
	width: 60%;
}
.href > input[type="text"]{
	width: 85%;
	margin-left: 5%;
	height: 1.8em;
	padding-left: 0.2em;
	color: #0F0F0F;
}
.href > input[type="button"]{
	width: 8%;
	height: 1.5em;
	background: #3CB371;
	color: #FFFFFF;
	font-weight: bold;
	border: none;
}
